.menu {
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: white;
    opacity: 0.8;
}
.menu a {
    text-decoration: none;
    color: black;
    display: inline-block;
    width: 100px;
    font-weight: lighter;
    font-size: 20px;
    padding: 20px 40px;
}
.menu a:hover {
    background-color: #ccc;
    color: black;
}
.header {
    background-color: black;
    text-align: center;
    color: white;
    padding: 200px 0;
    background-image: url(images/polygons.png);
    background-repeat: no-repeat;
    background-position: top center;
    width: 80%;
    margin: auto;
    margin-top: 62px;
    background-attachment: fixed;
}
.header a {
    padding: 12px 24px;
    background-color: white;
    text-decoration: none;
    color: black;
    border-radius: 10px;
    font-weight: 900;
}
.header a:hover {
    background-color: #b1b1b2;
}
h1 {
    font-weight: 900;
}
.header p {
    margin: 45px 0px;
}
#about-company img {
    width: 400px;
    float: right;
    margin: 30px;
    margin-top: 0;
}
#about-company {
    max-width: 80%;
    padding: 40px 0;
    margin: 0 auto;
    text-align: justify;
    
}
#about-company h2 {
    text-align: center;
}
.member {
    display: inline-block;
    width: 20%;
    margin: 20px 10px;
    border: 0;
    box-shadow: 0 2px 5px gray;
    padding: 20px;
    text-align: left;
    min-width: 300px;
}
.member img {
    width: 100%;

}
#team {
    text-align: center;
}
.member .position {
    opacity: 0.6;
}
.member a {
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 14px 0;
    width: 100%;
    background-color: #055b73;
    display: inline-block;
    border-radius: 10px;
}
.tariff li {
    list-style-type: none;
    padding: 16px 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #dddddd;
}
.tariff .tariff-name {
    color: white;
    background-color: black;
    font-size: 24px;
    padding: 32px 0;
}
.tariff {
    display: inline-block;
    width: 30%;
    margin: 10px;
    vertical-align: middle;
    background-color: white;
    padding: 0;
    min-width: 300px;

}
.tariff li:last-child {
    background-color: #f1f1f1;
    padding: 24px 0;

}
.tariff a {
    text-decoration: none;
    color: white;
    padding: 12px 24px;
    background-color: black;
    border-radius: 8px;
}
.tariff a:hover {
    background-color: white;
    color: black;
}
.prices {
    background-color: #616161;
    text-align: center;
    padding: 50px 0;
}
.prices h2,.prices p {
    color: white;
}
.important {
    font-weight: bold;

}
.prices .price {
    color: black;
    font-weight: bold;
    font-size: 24px;

}
.prices .period {
    color: black;
    opacity: 0.4;
}
.contact {
    background-color: #f1f1f1;
    text-align: center;
    padding: 40px 0;
}
.contact-adress {
    background-image: url(images/address.png);
}
.contact-phone {
    background-image: url(images/phone.png);
}
.contact-email {
    background-image: url(images/mail.png);
}
.contact-info {
    text-align: left;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 18px 18px;
    margin-left: 5%;
    padding-left: 30px;
}
.contact input {
    padding: 8px;
    width: 90%;
    border: none;
}
.contact button {
    background-color: black;
    color: white;
    padding: 8px 16px;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 8px;
}
.contact button:hover {
    background-color: white;
    color: black;
}
.footer {
    width: 100%;
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 2px;
}